<%# Unit 4, Select Inv Item activity %>
<% if (title) {%>
<h1><%= title %></h1>
<%} else {res.redirect('/')} %>

<%- messages() %>


<% if (errors) { %>
<ul class="message warning">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <%  }) %>
</ul>
<% } %>

<ul class="boldList">
  <li><a href="/inv/newClassification/" title="Click to add a new vehicle classification">Add New Classification</a></li>
  <li><a href="/inv/newVehicle/" title="Click to add a new vehicle">Add New Vehicle</a></li>
</ul>


<section class="manage-inventory">
    <h2>Manage Inventory</h2>
    <p>Select a classification from the list to see the items belonging to that classification.</p>
    <%- classificationOptions %>

    <table id="inventoryDisplay"></table>

    <noscript>JavaScript must be enabled to use this page.</noscript>

  </section>

  <section>
  </section>
</main>

<script src="../../js/inventory.js"></script>
