<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<%- wishlist %>

<script>
  const button = document.querySelectorAll('button')
  button.forEach(button => {
      button.textContent = 'Delete from Wishlist'
      button.className = 'btn'
  })

  const form = document.querySelectorAll('form')
  form.forEach(form => {
      form.action = '/wishlist/delete'
  })
</script>